<div class="bg-pink bg-height">
    <div class="container pt-5">
        <div class="items-left">
            <h2 class="text-white">All Workshops</h2>
                <% @workshops.each do |workshop| %>
                    <%= link_to workshop_path(workshop) do %>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <%= image_tag "workshop.jpeg", class:'card-img' %>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= workshop.title%></h5>
                                        <p class="card-text">with <%= workshop.instructor.name %></p>
                                        <p class="card-text"><small class="text-muted"><%= workshop.centre.location %></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>   
            </div>
        <div class="items-right">
            <h2 class="text-white">Suggestions</h2>
            <div class="card">
                <%= image_tag "workshop.jpeg", class:'card-img-top' %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
</div>

