<div class="jumbotron">
    <div class="container">
        <% if current_user %>
         <h1 class="text-right mb-4 mr-3">반가워요, 인희님</h1>
         <%= link_to 'Sign out', destroy_user_session_path, :method=>:delete %>
        <% else %>
         <%= link_to 'Sign up here', new_user_registration_path %>
        <% end %>
        <!-- Search form -->
        <div class="md-form form-inline">
           <%= form_tag workshops_path, method: :get do %>
                <%= text_field_tag :query,
                 params[:query],
                class: "form-control",
                placeholder: "Find a workshop"
             %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
        </div>
        <h3> Popular workshops near you </h3>
        <div class="row">
            <% @workshops.each do |workshop| %>
                    <div class="col-12 col-md-4">
                    <%= link_to workshop_path(workshop) do %>
                        <div class="card mb-3">
                            <%= image_tag "workshop.jpeg", class:'card-img-top' %>
                            <div class="card-body">
                                <h5 class="card-title"><%= workshop.title %></h5>
                                <p class="card-text"><%= workshop.centre.location %></p>
                                <p><small><%= workshop.date.strftime("%b %d %Y") %></small></p>
                            </div>
                        </div>
                    <% end %>
                    </div>
            <% end %>
        </div>
    </div>
</div>